---
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kleuterkwartier</title>
	</head>
	<body>
		<header class="header">
			<img src="/images/children-coloring.jpg" class="header__image header__image--small" />
			<div class="header__content">
				<h1 class="header__title"><a href="/">Kleuterkwartier</a></h1>
				<p>Het leukste kwartier van de dag</p>
			</div>
		</header>
		<main class="main">
      <img src="/images/kleurplaten/kleurplaat-k.jpg" alt="">
      <br />
      <img src="/images/kleurplaten/kleurplaat-s.png" alt="">
    </main>
	</body>
</html>
